* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
}

html{
    display:flex;
    justify-content: center;
}

body{
    width: 1300px;
    height: 100%;
    border:2px solid red;
}

a {
    text-decoration: none;
}

#areaRoof{
    border-bottom: 0.5px solid gray;
    display: flex;
    justify-content: flex-end;
    font-size: 1.2rem;
}

#areaLogo{
    margin: 0;
    border-bottom: 2px solid #af242c;
    font-size: 4rem;
    font-weight: bold;
}

#withdrawal,
#writtenArticles{
    cursor: pointer;
}

article{
    display: flex;
    justify-content: flex-start;
}

#menu{
    border: 2px solid yellow;
    width: 20%;
    height: 100vh;
    font-size: 2rem;
    padding: 20px;
}

#content{
    border: 2px solid blue;
    width: 80%;
    padding: 20px;
}

#userArticles{
    font-size: 2rem;
}