doctype html
html
  head
    title= 'Circus News'
    link(rel='stylesheet', href='/stylesheets/homepage.css')
  body
    header
        div(id='areaRoof')
          if user
            a(href='/user' role='button')
              div 마이페이지
            a(href='/auth/logout')
              div 로그아웃
          else
            a(href='/loginPage' role='button')
                div(id='goLogin') 로그인
        div(id='areaLogo')
          a(href="/")    
            span Circus News
        div(id='areaThemes')
          a(href="/") 홈
          a(href="/thema/politics") 정치
          a(href="/thema/economy") 경제
          a(href="/thema/IT") IT
          a(href="/thema/life") 생활
          a(href="/thema/world") 세계
    block content
