doctype html
html
  head
    title= 'News Site'
    link(rel='stylesheet', href='/stylesheets/userpage.css')
  body
    header
      div(id='areaRoof')
        a(href='/user' role='button')
          div #{user.displayName}님
        a(href='/auth/logout')
          div 로그아웃
      div(id='areaLogo')
        a(href="/")
          h1 News Site
    block content