extends userPageRoof

block content
  article
    div(id="menu")
      a(href='/text' role='button')
        div 기사쓰기
      div(id="writtenArticles") 내가 쓴 기사
      div(id="withdrawal") 회원탈퇴
    div(id="content")
    
  script(src="/javascripts/userPageJs.js")