extends userPageRoof

block content
  article
    div(id="menu")
      a(href='http://localhost:3000/text' role='button')
        div 기사쓰기
      div(id="writtenArticles") 내가 쓴 기사
      div(id="withdrawal") 회원탈퇴
    div(id="content")
      //- div(id="userArticles")
      //-   div 별 헤는 밤
      //-   div 님의 침묵
      //-   div 진달래 꽃
    
  script(src="/javascripts/userPageJs.js")