extends userPageRoof

block content
  a(href='http://localhost:3000/text' role='button')
    div 기사쓰기
  //- input(type="button" id="withdrawal" value="회원탈퇴")
  div(id="withdrawal") 회원탈퇴
  script(src="/javascripts/userPageJs.js")